#Это пример файла config.py
token="TOKEN" #Здесь ваш токен telegram
from prettytable import PrettyTable
pn = PrettyTable()
pn.field_names = ["ПН","Время", "Название"]
pn.add_rows([["1", "*", "*"], ["2", "*", "*"], ["3", "*", "*"], ["4", "*", "*"], ["5", "*", "*"], ["6", "*", "*"], ["7", "*", "*"], ["8", "*", "*"]])
vt = PrettyTable()
vt.field_names = ["ВТ", "Время", "Название"]
vt.add_rows([["1", "*", "*"], ["2", "*", "*"], ["3", "*", "*"], ["4", "*", "*"], ["5", "*", "*"], ["6", "*", "*"], ["7", "*", "*"], ["8", "*", "*"]])
sr = PrettyTable()
sr.field_names = ["СР", "Время", "Название"]
sr.add_rows([["1", "*", "*"], ["2", "*", "*"], ["3", "*", "*"], ["4", "*", "*"], ["5", "*", "*"], ["6", "*", "*"], ["7", "*", "*"], ["8", "*", "*"]])
ht = PrettyTable()
ht.field_names = ["ЧТ", "Время", "Название"]
ht.add_rows([["1", "*", "*"], ["2", "*", "*"], ["3", "*", "*"], ["4", "*", "*"], ["5", "*", "*"], ["6", "*", "*"], ["7", "*", "*"], ["8", "*", "*"]])
pt = PrettyTable()
pt.field_names = ["ПТ", "Время", "Название"]
pt.add_rows([["1", "*", "*"], ["2", "*", "*"], ["3", "*", "*"], ["4", "*", "*"], ["5", "*", "*"], ["6", "*", "*"], ["7", "*", "*"], ["8", "*", "*"]])
admin_id = ''